.header {
    color: white !important;
    background-color: #249EAD;
}

.menu{
    text-align: right;
}

footer{
    background-color: #249EAD;
}

.header img{
    width: 30px;
}

body {
    color: white;
    background-color: black;
}

.card-body {
    background-color: #249EAD;
}

.card-img-top {
    width: 100%;
    min-height: 15vw;
    object-fit: cover;
}
/* formato de los iconos de la seccion "Quines somos" */
i {
    margin: 10px;
    text-align: right;
    margin-top: inherit;
    background-color:#249EAD;
}

.icon {
    vertical-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.column {
    background-color:#249EAD;
}

/* linea horizontal bajo el titulo de la sección*/
hr {
    border: 2px solid #249EAD;
} 
/* color de los iconos del footer*/
footer a {
    color: white;
}
