.header {
    color: white !important;
    background-color: #249EAD;
}

.menu{
    text-align: right;
}

footer{
    background-color: #249EAD;
}

.header img{
    width: 30px;
}

body {
color: white;
background-color: black;
}

.card-body {
    background-color: #249EAD;
}

.card-img-top {
    width: 100%;
    min-height: 15vw;
    object-fit: cover;
}
i {
    margin: 10px;
    text-align: right;
    margin-top: inherit;
}
